---
import Layout from '../layouts/Layout.astro';
import data from '../data/sitecontent.json';
---
    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <Layout title="Prince Collection | Travel Agency" description="Book with Prince Collection for your next trip, find out more about our process, and get more information.">
        <div class="container-fluid px-0">
			<div class="row min-vh-100">
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center p-0 order-2 order-lg-1 position-relative min-vh-75">
                    <div class="card mb-3 rounded-5 bg-pc-light border-0 shadow position-absolute z-1 top-50 start-50 translate-middle" data-aos="fade-up">
                        <img src="" data-src="https://images.unsplash.com/photo-1534001265532-393289eb8ed3?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top w-100 object-fit rounded-top-5" style="height: 250px;" alt="..." data-aos="fade" />
                        <div class="card-body p-4">
                            <p class="small mb-2 mt-0">
                                <i class="bi bi-star-fill text-secondary"></i> 4.5
                            </p>
                            <h5 class="card-title fs-4 fw-900 text-secondary">Barcelona</h5>
                            <p class="small text-secondary mt-1">Capital of Catalonia, Spain • barcelona.cat/en</p>
                            <p class="card-text my-3">Barcelona is a city on the northeastern coast of Spain. It is the capital and largest city of the autonomous community of Catalonia, as well as the second-most populous municipality of Spain.</p>
                            <a href="/book">
                                <button class="btn btn-sm small btn-secondary rounded-pill px-4 m-0 mt-2 mb-0">Reserve</button>
                            </a>
                            <i class="bi bi-arrow-up-right-circle-fill text-secondary fs-1 position-absolute bottom-0 end-0 m-3"></i>
                            <i class="bi bi-heart-fill text-danger fs-3 position-absolute top-0 end-0 m-3"></i>
                        </div>
                    </div>
					<img class="w-100 h-100 shadow" style="object-fit: cover; aspect-ratio: 1;" src="" data-src="https://images.unsplash.com/photo-1539037116277-4db20889f2d4?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" data-aos="fade">
                </div>
				<div class="col-lg-6 d-flex flex-column justify-content-end align-items-start text-start p-5 mb-0 mb-lg-4 mt-5 mt-lg-0 order-1 order-lg-2">
                    <div class="mt-auto p-5">
                        <span class="badge rounded-pill fw-bold text-bg-light py-2 px-3" data-aos="fade-up">Prince Collection Travel Agency</span>
                        <h1 class="display-2 fw-bold lh-1 mb-2 mt-4 ps-4" style="border-left: 3px solid lightgrey;" data-aos="fade-up" data-aos-delay="200">Explore the world with us</h1>
                        <p class="fs-5 mt-4 mb-0 text-black-50" data-aos="fade-up" data-aos-delay="400">Book your travel with Prince Collection and enjoy access to exclusive deals and benefits at a wide range of hotel brands. You'll receive promotions, hotel credits, exclusive information, early check-in/late check-out, and access to Prince Collection's wealth of travel experience.</p>
                        <a href="/book" data-aos="fade-up" data-aos-delay="600">
                            <button class="btn btn-dark rounded-pill d-inline px-4 mt-4">Learn more</button>
                        </a>
                    </div>
				</div>
            </div>

            <div class="row min-vh-100">
				<div class="col-lg-6 d-flex flex-column justify-content-end align-items-start min-vh-50 text-start p-5 mb-0 mb-lg-4 mt-5 mt-lg-0">
                    <div class="p-5">
                        <h2 class="display-3 fw-bold lh-1 mb-2 mt-3 ps-4" style="border-left: 3px solid lightgrey;" data-aos="fade-up" data-aos-delay="200">Discover the world’s best travel experiences</h2>
                        <p class="text-body-secondary fs-5 my-4 py-2" data-aos="fade-up" data-aos-delay="400">Through our in-house travel agency and luxury travel Concierge service, we enable the modern luxury traveller to elevate their experience to new heights. Browse through our comprehensive resources, including real-life property reviews, guides to luxury travel programs, and the latest industry news to inspire your next trip.</p>
                        <a href="/book" data-aos="fade-up" data-aos-delay="600">
                            <button class="btn btn-dark rounded-pill d-inline px-4">Book your trip</button>
                        </a>
                    </div>
				</div>
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center position-relative p-0 min-vh-100">
                    <div class="card mb-3 rounded-5 bg-pc-light border-0 shadow position-absolute z-1 top-50 start-50 translate-middle" data-aos="fade-up" data-aos-delay="200">
                        <img src="" data-src="https://images.unsplash.com/photo-1533676802871-eca1ae998cd5?q=80&w=2833&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top w-100 object-fit rounded-top-5" style="height: 250px;" alt="..." data-aos="fade" />
                        <div class="card-body p-4">
                            <p class="small mb-2 mt-0">
                                <i class="bi bi-star-fill text-secondary"></i> 4.5
                            </p>
                            <h5 class="card-title fs-4 fw-900 text-secondary">Venice</h5>
                            <p class="small text-secondary mt-1">Capital city of Veneto, Italy • comune.venezia.it</p>
                            <p class="card-text my-3">Venice is a city in northeastern Italy and the capital of the Veneto region. It is built on a group of 126 islands that are separated by expanses of open water and by canals; portions of the city are linked by 472 bridges.</p>
                            <a href="/book">
                                <button class="btn btn-sm small btn-secondary rounded-pill px-4 m-0 mt-2 mb-0">Reserve</button>
                            </a>
                            <i class="bi bi-arrow-up-right-circle-fill text-secondary fs-1 position-absolute bottom-0 end-0 m-3"></i>
                            <i class="bi bi-heart-fill text-danger fs-3 position-absolute top-0 end-0 m-3"></i>
                        </div>
                    </div>
					<img class="w-100 h-100 object-fit" src="" data-src="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?q=80&w=2728&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" data-aos="fade">
                </div>
            </div>

            <!-- <div class="masonry bg-light position-relative">
                {data.ta_landing_page.masonry.map((item, index) => (
                    <div class="item mt-0 mb-2">
                        <img src="" data-src={item} class="animate-in" data-aos="fade-up" data-aos-delay={index * 100}>
                    </div>
                ))}
            </div> -->

            <div class="row min-vh-100 mt-2 mb-3 mx-1">
                <div class="col-lg-12 p-0" data-aos="fade">
                    <img class="w-100 h-100 object-fit rounded-4" src="" data-src="/images/general/pc_ta_landing_masonry.jpeg" alt="">
                </div>
            </div>

            <div class="container-fluid">
                <div class="row min-vh-500 text-light bg-gold-1 px-5 position-relative" style="background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1541417904950-b855846fe074?q=80&w=2882&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center top; background-size: 130%;">
                    <div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center text-center px-5 pt-5" data-aos="fade-up">
                        <h1 class="display-3 fw-bold lh-1 mb-2 mt-3">Book your next hotel stay with us</h1> 
                        <p class="fs-5 mt-3 mb-0">Through Prince Collection’s access to the world’s best hotel preferred partner programs, you’ll enjoy exclusive benefits on your next luxury hotel stay at no additional cost. By booking with us, you receive:</p>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 text-body-secondary px-4 px-lg-5 pb-5">
                        {data.ta_landing_page.book.list.map((item, index) => (
                        <div class="col text-black-50" data-aos="fade-up" data-aos-delay={index * 100}>
                            <div class="card w-100 mb-3 rounded-5 bg-pc-light border-0 shadow" style="min-height: 300px">
                                <img src="" data-src={item.img} class="card-img-top w-100 object-fit rounded-top-5 p-2" style="height: 120px" data-aos="fade" />
                                <div class="card-body p-4">
                                    <h5 class="card-title fs-4 fw-900 text-secondary">{item.title}</h5>
                                    <p class="small">{item.content}</p>
                                    <a href="/book">
                                        <i class="bi bi-heart-fill text-danger fs-4 position-absolute top-0 end-0 m-3"></i>
                                    </a>
                                    <i class="bi bi-arrow-up-right-circle-fill text-secondary fs-2 position-absolute bottom-0 end-0 m-3"></i>
                                </div>
                            </div>
                        </div>))}
                    </div>
                </div>
            </div>
                    
            <!--  <img src="" data-src={`https://picsum.photos/700/300?grayscale?random=${index}`} class="card-img-top w-100 object-fit rounded-top-5 p-2" style="height: 120px" data-aos="fade" />
            
            <img src="" data-src={`https://loremflickr.com/800/400/hotel,travel,sky?lock=${index}`} class="card-img-top w-100 object-fit rounded-top-5 p-2" style="height: 120px" data-aos="fade" />-->

            <div class="row p-5 min-vh-100 bg-pc-light">
                <div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center text-center px-5 pt-5">
                    <span class="badge rounded-pill fw-bold text-bg-secondary py-2 px-3" data-aos="fade-up">Testimonials</span>
                    <h1 class="display-3 fw-bold lh-1 mb-2 mt-3" data-aos="fade-up" data-aos-delay="200">What people are saying</h1> 
                    <p class="fs-5 mt-3 mb-0" data-aos="fade-up" data-aos-delay="400">Read about the experiences of some of Prince Collection's most valued customers. We appreciate all the feedback we get from our community and do our best to ensure our clients get the highest level of support, before, during and after their trips.</p>
                </div>
                {data.ta_landing_page.testimonials.map((item, index) => (
                <div class="col-lg-4">
                    <div class="p-3 d-flex flex-column justify-content-center align-items-start text-start" data-aos="fade-up" data-aos-delay={index * 200}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" fill="currentColor" class="bi bi-quote text-secondary" viewBox="0 0 16 16">
                            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
                        </svg>
                        <p class="fs-3">{item.content}</p>
                        <div class="d-flex border rounded-4 px-3">
                            <div class="p-2 d-flex justify-content-center align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-circle text-secondary" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                </svg>
                            </div>
                            <div class="p-2 d-flex flex-column justify-content-center align-items-start">
                                <p class="my-0 fs-5">{item.name}</p>
                                <p class="fs-italic text-secondary my-0">Prince Collection valued client</p>    
                            </div>
                        </div>
                    </div>
                </div>))}
            </div>

              <div class="row min-vh-100 bg-pc-light">
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center p-0 position-relative min-vh-100">
                    <div class="card mb-3 rounded-5 bg-pc-light border-0 shadow position-absolute z-1 top-50 start-50 translate-middle">
                        <img src="" data-src="https://images.unsplash.com/photo-1670752617062-e1c4087a346d?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top w-100 object-fit rounded-top-5" style="height: 250px;" alt="..." data-aos="fade" />
                        <div class="card-body p-4">
                            <p class="small mb-2 mt-0">
                                <i class="bi bi-star-fill text-secondary"></i> 4.9
                            </p>
                            <h5 class="card-title fs-4 fw-900 text-secondary">Maldives</h5>
                            <p class="small text-secondary mt-1">Sovereign state in South Asia, situated on an archipelago in the Arabian Sea • visitmaldives.com</p>
                            <p class="card-text my-3">The Maldives, officially the Republic of Maldives, and historically known as Maldive Islands, is a country and archipelagic state in South Asia in the Indian Ocean.</p>
                            <a href="/book">
                                <button class="btn btn-sm small btn-secondary rounded-pill px-4 m-0 mt-2 mb-0">Reserve</button>
                            </a>
                            <i class="bi bi-arrow-up-right-circle-fill text-secondary fs-1 position-absolute bottom-0 end-0 m-3"></i>
                            <i class="bi bi-heart-fill text-danger fs-3 position-absolute top-0 end-0 m-3"></i>
                        </div>
                    </div>
					<img class="w-100 h-100" style="object-fit: cover; aspect-ratio: 1; border-radius: 0 33px 0 0" src="" data-src="https://images.unsplash.com/photo-1590602390809-a890807193ec?q=80&w=2899&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" data-aos="fade">
                </div>
				<div class="col-lg-6 d-flex flex-column justify-content-center align-items-start text-start p-5 mb-0 mb-lg-4 mt-5 mt-lg-0">
                    <div class="my-auto p-5">
                        <h1 class="display-3 fw-bold lh-1 mb-2 mt-3 ps-4" style="border-left: 3px solid lightgrey;" data-aos="fade-up">The Prince Collection advantage</h1>
                        <p class="fs-5 mt-4 mb-0 text-black-50" data-aos="fade-up" data-aos-delay="200">With our unparalleled travel expertise and world-class service principles, we deliver optimized travel outcomes for our clients over the course of a comprehensive annual engagement.</p>
                        <a href="/book" data-aos="fade-up" data-aos-delay="400">
                            <button class="btn btn-dark rounded-pill d-inline px-4 mt-4">Book with us</button>
                        </a>
                    </div>
				</div>
            </div>

        </div>
    </Layout>

    <style scoped>

.card {
    width: 60%;
}

        /* The Masonry Container */
.masonry {
  padding: 10px;
  max-width: 100%;
  column-gap: 10px;
}

.masonry-card  {
    width: 75%;
}

@media(max-width: 768px) {
    .masonry-card {
    width: 100%;
}
}

/* The Masonry Brick */
.item {
  margin-top: 10px;
  height: 100%;
}
.item:first-of-type {
  margin-top: 0 !important;
}
.item img {
    border-radius: 10px;
}

@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}
/*  
.masonry-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  height: 200px; */
  /* width: 100%;
  object-fit: cover;
}

.column img:nth-child(2) {
    height: 240px;
}
.column img:nth-child(3) {
    height: 140px;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} */
    </style>
