---

---

<!-- <div class="container-fluid px-0">
    <div class="row row-cols-1 row-cols-lg-2 min-vh-500 position-relative">
        <img class="position-absolute top-0 start-0 z-0 w-100 h-100 object-fit" src={image} alt={alt}/>
        <div class="col d-flex flex-column justify-content-center align-items-start text-start position-relative z-1 p-5">
            <Image style="width: 80px; height: 80px" src={crown} alt="Prince Collection logo"/>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{title}</li>
                </ol>
              </nav>
            <h1 class="display-4 fw-bold lh-1 mb-2 mt-3">{title}</h1>
            <p class="h4 mb-3">{description}</p>
        
            <nav class="nav nav-fill d-flex mx-auto">
                <a class="nav-link p-0 me-2" href="/book">
                    <button class="btn btn-pc">Book your hotel</button>
                </a>
                <a class="nav-link p-0 me-2" href="/about">
                    <button class="btn btn-pc">Back</button>
                </a>
              </nav>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center min-vh-50 p-5 position-relative">
            <Image class="w-100 h-100 object-fit rounded-4 shadow" width="700" height="400" src={post.data.imageUrl} alt="Prince Collection logo"/>
        </div>
    </div>
</div> -->