---
import Layout from '../layouts/Layout.astro';
const { postData = Array<string>, category, categoryDescription, firstTitle, firstDescription, firstAuthor, firstpubDate, firstImg, firstImgAlt, firstSlug } = Astro.props;
// const allPosts = await getCollection(postData);
---

<Layout title={ "Prince Collection | " + category} description={categoryDescription}>
		<div class="container-fluid px-0">
			<div class="row min-vh-100 bg-pale-dogwood">
				<div class="col-lg-6 d-flex flex-column justify-content-center align-items-center min-vh-500 text-center p-5 mt-5 mt-lg-0">
					<span class="badge rounded-pill fw-bold bg-pc-dark-80 text-pc-10 py-2 px-3" style="font-family: 'Gloock', serif; font-size: 15px;">Prince Collection {category}</span>
					<h1 class="display-3 col-lg-8 fw-bold lh-1 mb-2 mt-3">{firstTitle}</h1>
					<p class="col-md-7 fs-5 text-body-secondary mt-3 mb-2">{firstDescription}</p>

					<div class="py-2">
						<p class="small text-pc-dark text-uppercase fw-bold my-0"><span class="fw-light text-secondary">Written by</span> {firstAuthor}</p>
						<p class="small text-pc-dark text-uppercase fw-bold my-0"><span class="fw-light text-secondary">On</span> {firstpubDate.toString().slice(0,10)}</p>
					</div>

					<!-- for some reason the firstArticle.data doesn't work, only straight to firstArticle.slug -->
					<a href={`/news/${firstSlug}/`}>
						<button class="btn btn-dark fw-bold rounded-pill px-4 mt-3 shadow">Read article</button>
					</a>
				</div>
				<div class="col-lg-6">
					<img src={firstImg} class=" w-100 h-100" style="object-fit: cover;" alt={firstImgAlt}>
				</div>
			</div>
            
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 p-4">
                {
                    postData.map((post, index) => (
                        <div class="col">
                    <a href={`/news/${post.slug}/`}>
                        <div class="card rounded-4 border-0 p-3 shadow" style="min-height: 500px">
                            <img src={post.data.imageUrl} class="card-img-top rounded-4 w-100" style="object-fit: cover;" alt={post.data.imageAlt}>
                            <div class="card-body position-relative px-3 pb-0">
                                <div class="d-flex flex-row">
                                    {
                                        post.data.tags.map((tag) => (
                                            <div class="span badge bg-secondary me-1">{tag}</div>
                                        ))
                                    }
                                </div>
                                <p class="small mb-2">{post.data.pubDate.toString().slice(0,10)}</p>
                                <h5 class="card-title fw-bold mb-0">{post.data.title}</h5>
                                <p class="small m-0 text-secondary mt-2 mb-0">By: {post.data.author}</p>
                                <p class="card-text text-body-secondary pe-5">{post.data.description}</p>
                                <i class="bi bi-plus-circle text-dark fs-2 position-absolute bottom-0 end-0"></i>
                            </div>
                        </div>
                
                    </div>
                </a>
                </div>
			)
			)}
            </div>
        </div>
        </Layout>
